
h4 {
	margin-top: 2%;
	margin-left: 2%;
	color: royalblue;
}


h1 {
	font-size: 4em;
}


#asking {
	margin-top: 10%;
}


#buttonDiv, #zoe {
	margin: 2%;
	margin-left: 50px;
}

#dinoLove {
	margin-left: 15%;
	/*margin-right: 0;*/

}

.hidden {
	display: none;
}


.visible {
	display: block;
}